.mui-table-view:before {
    position: absolute;
    right: 0;
    top: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.mui-table-view {
    position:relative;
   margin:0.2em 0 1em 1em;
}
.mui-table-view:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.mui-table-view-cell {
    height:5em;
    position: relative;
   
}
.mui-media-object {
    width: 3em;
    height: 3em;
}
.mui-table-view-cell:after {
     position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.mui-pull-left {
    float: left;
    margin-top: 1em;
    margin-right: 0.4em;;
}
.mui-media-body {
    float:left;
    width: 82%;
    height: 5em;
     word-wrap: normal; /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#000;
    padding-top: 0.5em;
  
}
.mui-media-body p {
    font-size: 1em;
    margin-top: 0;
   
    color: #8f8f94;
}

a {
    display: block;
    height: 5em;
}
