#Header {
	color:rgba(255,255,255,1);
	
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}

.umw-slider{
	min-height:10.6em;
}
.res-slider{
	background-image:url(myImg/slider.png);
}
.uinn-tit{
	padding:.6em .6em 0;
}
.tit{
	background-color:#218dd5;
	padding:0.2em;
	color:#fff;
	display:inline-block;
}

.umwh-logo{
	min-height: 1.25em;
	min-width: 4.1em;
}
.list{
	padding:.9em 0.6em;
	border-bottom:1px solid #a4a4a4;
}
.callbtnbox{
	padding: 0.6em 0.6em 2.5em;
}
