/*选择支付方式弹出页面样式*/
.pay-body{
   
    background: rgba(0,0,0,0.5) !important;
}
.pay-pop{
    background: #fff;
    /* height: 10.3em; */
}
.h-type{
    height: 1.5em;
}

.pop-position{
    position: absolute;
    bottom: 0;
}
.content-width{
    width: 100%;
}
.pop-body{
    background: rgba(0,0,0,0.5) !important;
}
.pop-wrapper{
    padding: 10em 0em;
    margin: 0 auto;
    width: 80%;
}
.pop-content{
    background: #fff;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}
.pop-info{
    padding: 1em;
}
.pop-tip{
    padding-top: 1em;
}
.btn-vcode{
    border: none !important;
}
.uinput{
    padding-left: .2em;
    border-radius: .3em;
    -webkit-border-radius: .3em;
}
input:focus{
    outline: none !important;
    border: none;
}

.right-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.4em;
    -webkit-border-right-radius: 0.4em;
    border-top-right-radius: 0.4em;
    -webkit-top-right-radius: 0.4em;
}
.com-pop{
    background: #fff;
    height: 7.7em;
}
