#Header {
	color:rgba(255,255,255,1);
	
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}
.rank-bg{
	background-image:url('myImg/r-bg.png');
}
.ub-img-rank{
	background-repeat:repeat-x;
	background-position:left top;
}
.c-blu-rank{
	background-color:#a0bbed;
}
.t-blu-rank{
	color:#2d4572;
}
.uinn-t-rank{
	padding-top:0.625em;
}
.uw-rank{
	width:30%;
}
.uw-rank2{
	width:44%;
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.t-gra5{
	color:#686868;
}
.umar-fr1{
	margin-top:-1px;
}
.uinn-a1{
    padding:0.625em;
}
.ulev-app1{
    font-size:0.875em;
}
.center {
    text-align: center;
    margin-left: 0.3em;
}

/*弹出框*/
/*弹出框*/
.wrapper {
    background-color: #eee;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 6em;
    border-radius: 3%;
    display: none;
    opacity: 0.95;
    padding-bottom: 1em;
    border:1px solid #ccc;
}
.margin-t-2x {
    margin: 1em;
    position: relative;
}
.m-input {
    width: 6.625em;
    font-zize: 2em !important;
    box-sizing: border-box;
    height: 1.5em;;
    border: 0;
    border: 1px solid #999;
}
.mySelect {
    background-color: #fff;
    width: 6.625em;
    box-sizing: border-box;
    height: 1.5em;;
    border: 0;
    border: 1px solid #999;
    border-radius: 0.2em;
    background-color: #fff;
    width: 10em;
    box-sizing: border-box;
    height: 1.5em;;
    border: 0;
    border: 1px solid #999;
    border-radius: 0.2em;
    
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    
    -webkit-appearance: none;
    /*在选择框的最右侧中间显示小箭头图片*/
    /* background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;   */
    /*background: url("../../quickbuy/css/myImg/arrow.png") no-repeat scroll right center transparent;*/
    background-size: 0.6em 0.4em;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 0.8em;
    padding-left: 0.2em;
    
    
    
}
}
.select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.m-input span {
    color: #000;
}
.mySelect option {
    font-zize: 1em !important;
}
.action-group {

    text-align: center;
}
.selected {
    border: 1px solid #000 !important;
    padding: 0.2em;
    border-radius: 10%;
}
#chk {

    width: 4em;
    height: 4em;
    border: 1px solid #999;
}
.m-btn {
    width: 4em;
    height: 2em;
    font-size: 1em;
    text-align: center;
    border-radius: 10%;
    border: 0;
    border: 1px solid #999;
}
#peisong, #ziti {
    border: 1px solid transparent;
    padding: 0.2em;
}
.chuku {
    position: absolute;
    left: 5.2em;
    top: 0;
    line-height: 1.8em;
}
.um3 {
    margin-left: 3em;
}
.s-state {
    padding: 0.1em 0.4em;
  border-radius: 0.3em;
  border: 0.1em solid;
  border-color: #f1f1f1;
  color: #000;
}
.ellipsis {
 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
   
    
}
#company_name {
   width: 90%;
}
.arrow {
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../../imgs/arrow.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    
}
.my-btn {
      width: 4em;
  height: 2em;
  font-size: 1em;
  text-align: center;
  border-radius: 10%;
  border: 0;
  border: 1px solid #999;
}
.add {
    border-radius: 0.1em;
}
 


