#Header {
	color:rgba(255,255,255,1);
	
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.uinn-at4{
    padding: 2.69em 0.5em 0em !important;
}
.uinn-4a {
    padding-top: 2.69em !important;
}
.uinn-a4{
    padding:2.69em .5em 0 !important;
}
.ressearch {
	background-image: url('myImg/search.png');
}
.b-ca{
	border-color:#cacaca;
}
.min-w5{
	min-width:4.1em;
}
.umar-2{
	margin:.2em;
}
.uinn-d{
	padding:.8em .5em;
}
.shop-bg{
	background-image:url('myImg/img.png');
	min-width:5.19em;
	min-height:4.47em;
}
.b-c2{
	border-color:#c2c2c2;
}
.t-a{
	color:#aaa9a9;
}
.t-e{
	color:#ef6413;
}
.uinn-t{
	padding: .3em 0;
}
.umwh{
	min-width:0.6em;
	min-height:1em;
}
.uinn-as1{
	padding:0.3em;
}
.umar-at2{
    margin-top:1em;
}
.ulev-app2{
    font-size:0.9375em;
}

.has_num{
    cursor: pointer;
}


.primary {
  background-color: #4854DB;
  color: #fff;
}

