<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="../build/css/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="../build/css/ui-box.css">
  <link rel="stylesheet" href="../build/css/ui-base.css">
  <link rel="stylesheet" href="../build/css/ui-color.css">
  <link rel="stylesheet" href="../build/css/appcan.icon.css">
  <link rel="stylesheet" href="../build/css/appcan.control.css">
  <link rel="stylesheet" href="./css/order.css">
  <style>
    [v-cloak] {
      display: none
    }

    .h16 {
      height: 16em;
    }
  </style>
</head>

<body class="um-vp white-bg" ontouchstart>

  <div class="listbox">
    <div id="listdetail" class="detail white-bg bc-border" v-cloak>
      <div v-if="OrderList===null">
        正在加载中...
      </div>
      <div v-else-if="OrderList.length>0" v-for="(item, index) in OrderList">
        <div class="list-content white-bg" :class="index===OrderList.length-1?'h16':''">
          <div>
            <!-- 订单编号 -->
            <div class="ub ub-ac umar-l umar-r m-row3">

              <div>
                <span class="gray-font">订单编号 </span>
                <span class="AllPrice"> {{item.ordersaleCode}} </span>
              </div>

            </div>
            <div class="ub ub-ac umar-a m-row3">
              <div id="" class="ub ub-ac t-col1">
                <!-- 油品名称 -->
                {{item.oilinfoName}}
              </div>
              <!-- 油品详情 -->
              <div class="ub ub-ac ub-pc t-col2">
                <span class="umar-r mf-color umar-r">
                  <span class="mf-size2">￥</span>
                  {{item.oilPrice | changeMoney}}
                  <span class="gray-font mf-size2">/吨</span>
                </span>
                <span class="umar-l">
                  <!-- 油品数量-->

                  x {{item.oilNumber | filterNumber}}
                </span>
              </div>
              <!-- 配送方式 -->
              <div class="ub ub-ac  ub-pc t-col4">
                <span class="s-state delivery">

                  {{item.extractTypeName}}

                </span>
              </div>
            </div>

            <div class="ub ub-ac umar-l umar-r m-row3">
              <div id="" class="col-left">
                <span class="gray-font">客户名称&nbsp;</span>
                <span> {{item.cusCompany}}</span>
              </div>
              <div class="col-right">
                <span class="gray-font">总金额&nbsp;&nbsp; </span>
                <span class="mf-color AllPrice">
                  {{item.oilAmot | changeMoney}}
                </span>
              </div>
            </div>
            <!-- 审核状态 -->
            <div class="ub ub-ac umar-l umar-r m-row3">
              <div id="" class="col-left">
                <span class="gray-font">状态&nbsp;</span>
                <span>
                  {{item.state | auditState}}


                </span>
              </div>
              <!-- 销售单位 -->
              <div  class="col-right">
                <span class="gray-font">所属公司&nbsp;&nbsp;</span>
                <span>
                  {{item.empOrgName}}
                </span>
              </div>

            </div>

            <!-- 创建时间 -->
            <div class="ub ub-ac umar-l umar-r m-row3">
              <div>
                <span class="gray-font">创建时间 </span>
                <span class="AllPrice">
                  {{item.createDate}}
                </span>
              </div>
            </div>

          </div>
        </div>
        <div class="gap"></div>
      </div>
    </div>
  </div>
  <div id="more"></div>

</body>
<script src="../build/js/appcan.js"></script>
<script src="../build/js/appcan.control.js"></script>
<script src="../common/common.js"></script>
<script type="text/javascript" charset="utf-8" src="../build/vue/vue.2.5.15.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="../common/jquery.min.js"></script>
<script>
  var vm = new Vue({
    el: "#listdetail",
    data: {
      OrderList: null,
      error: null
    },
    methods: {
      getOrderListData: function (newPageNo) {
        var _this = this;
        var pageNo = newPageNo || 1;
        var param = "state=&pageNo=" + pageNo + "&pageSize=" + pageSize;
        axios.post(URL + "/app/oil/order/queryOrderList?" + param)
          .then(function (response) {
            console.log(response);
            var data = response.data.rows;
            if (_this.OrderList) {
              data.forEach(function (v) {
                _this.OrderList.push(v);
              })
            } else {
              _this.OrderList = data;
            }

            loadMore.init({
              ele: "more",
              data: _this.OrderList,
              totalNum: response.data["pager.totalRows"],
              limit: 15,
              clickFn: _this.func2
            });
          })
          .catch(function (error) {
            _this.error = error.message;
          })
      },
      func2: function (current_page, max_page, totalNum) {
        var _this = this;
        $('#loadMore').remove();
        alert("正在加载第" + current_page + "页， 共" + max_page + "页 " + totalNum + "条数据");
        console.log(_this);

        _this.getOrderListData(current_page);
      }
    },
    mounted: function () {
      this.getOrderListData();
    },
    filters: {
      changeMoney: function (value) {
        if (value === 0) return '--';
        return fmoney(value);
      },
      filterNumber: function (num) {
        if (num < 0 || num === undefined) return 0;
        return num.toFixed(2);
      },
      auditState: function (value) {
        var text = null;
        if (value == "0") {
          text = "未审核";
        } else if (value == "1") {
          text = "分公司审核通过";
        } else if (value == "2") {
          text = "分公司未审核通过";
        } else if (value == "3") {
          text = "总公司审核通过";
        } else if (value == "4") {
          text = "总公司审核未通过";
        }
        return text;
      }
    }

  })
</script>

</html>