.m-logo {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
.m-logo img {
    width: 8em;
}
.uinput input:focus {
    outline: none !important;
}

.btn-register {
    display: block;
    padding: 0.4em 2em;
    border: 1px solid #2931a1;
    border-radius: 0.3em;
}

.uinn3 {
    padding-left: 0 !important;
}
#1 {
    background-color: #green;
    color: #82D02C
}

/*顶部css样式,对应vip_index_content*/

.row-last .bc-border {
    border-bottom: none !important;
}
.ulev-me1 {
    font-size: 0.9em;
}

.uw-app1 {
    width: 33.3%;
    text-align: center;
}
.umar-ar3 {
    margin-right: 0.5em;
}
.ui-vip {
    padding-top: 3.5em;
    background-repeat: no-repeat;
    background-position: 50% 0em;
    background-size: 3.25em 3.11em;
}
.ui-vip-price {
    background-image: url('myImg/icon_vip_price.png');
}
.ui-vip-discount {
    background-image: url('myImg/icon_vip_discount.png');
}
.ui-vip-urgent {
    background-image: url('myImg/icon_vip_urgent.png');
}
.ui-vip-order {
    background-image: url('myImg/icon_vip_clock.png');
}
.ui-vip-search {
    background-image: url('myImg/icon_vip_search.png');
}
.ui-vip-manager {
    background-image: url('myImg/icon_vip_manager.png');
}
.ui-vip-report {
    background-image: url('myImg/icon_vip_report.png');
}
.ui-vip-gift {
    background-image: url('myImg/icon_vip_gift.png');
}
.ui-vip-setting {
    background-image: url('myImg/icon_vip_setting.png');
}
.ui-vip-track {
    background-image: url('myImg/icon_vip_track.png');
}
.ui-vip-datasetting {
    background-image: url('myImg/icon_vip_datamanage.png');
}
.ui-vip-cart {
    background-image: url('myImg/icon_vip_cart.png');
}
.ui-vip-file {
    background-image: url('myImg/icon_vip_file.png');
}

.list-wrapper {
    height: 100%;
}
.gap2 {
    height: 4%;
}
.item-bg {
    height: 20%;
    background-color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.125em 0 #ccced1;
    word-break: break-all;
}
.item-title {
    margin-bottom: 0.8em;
}
.item-txt-wrap {
    line-height: 1.6em;
    color: #888888;
}
.img-area {
    width: 33%;
    height: 100%;
    background: #fdb138;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    box-shadow: inset -3px 0 6px rgba(0,0,0,0.1);
}
.icon-img {
    height: 60%;
}
.a-price-txt {
    width: 63%;
    margin-left: 4%;
}
.a-price {
    background: -webkit-linear-gradient(#fdb138, #fea22e);
    background: linear-gradient(#fdb138, #fea22e);
}
.a-service {
    background: -webkit-linear-gradient(#f16e6e, #ed5b5b);
    background: linear-gradient(#f16e6e, #ed5b5b);
}
.a-channel {
    background: -webkit-linear-gradient(#8cd32f, #75cc28);
    background: linear-gradient(#8cd32f, #75cc28);
}
.a-manager {
    background: -webkit-linear-gradient(#58b0d9, #49a3d5);
    background: linear-gradient(#58b0d9, #49a3d5);
}

.a-price-title {
    color: #ed9f0f;
}
.a-service-title {
    color: #f15c5c;
}
.a-channel-title {
    color: #76cc28;
}
.a-manager-title {
    color: #3796cb;
}

.gap {
    height: 2.5% !important;
}
.item-height1 {
    height: 20%;
}

.item-height3 {
    height: 65%;
}
.item-width {
    width: 46%;
    text-align: center;
}
.item-width100 {
    width: 100%;
    text-align: center;
}
.margin-t {
    margin-top: 1.5em;
}
.shiyou {
    height: 1.5em;
    width: 1.5em;
    background: green;
    border-radius: 50%;
    background: url('myImg/logo_login_01.jpg');
    background-size: cover;
}
.rightLine {
    border-right: 1px solid #999;
}
.pos {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin: 2.5% 0;
}
.lineHeight {
    height: 2em;
}

.Line {
    display: block;
    width: 1px;
    color: #000;
    background-color: #999;
    min-height: 1em;
}
#lv_group_A, #lv_group_B, #lv_group_C {
    font-weight: bold;
    padding-left: 1.4em !important;
    height: 2.8em !important;
    background-color: #f7f7f7 !important;
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar {
    display: none;/*隐藏滚轮*/
}

.sc-bg-active {
    background-color: #fff !important;
}
.lis {
    min-height: 2.8em !important;

}
.umar-r {
    margin-right: 1em;
}
.umar-r2 {
    margin-right: 0.4em;
}
.umar-l {
    margin-left: 2em;
}
.umar-l3 {
    margin-left: 0.6em;
}
#avatar {
    width: 100%;
    height: 100%;
}
#photo {
    width: 3em;
    height: 3em;
    background-color: green;
    position: absolute;
    left: 50%;
    margin-left: -1.5em;
    top: 25%;
    background: url(../page3/myImg/avatar1.png);
    background-size: 100%;
}

#refer {

    display: block !important;
    color: #fff;
    font-weight: 700;
    min-height: 1em;
    line-height: 1em;
    
}
#state {
    height: 4em;
    width: 18em;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -9em;
    top: 60%;
}

.m-border1 {

    color: #fff;
    background-color: #c14b65;
    display: block;
    width: 6em;
    height: 1.5em;
    line-height: 1.5em;
    position: absolute;
    left: 50%;
    margin-left: -3.5em;
    margin-top: 0.3em;
    border-radius: 0.75em;
}
.font {
    font-weight: bold;
    font-size: 1.1em;
}
#list-1:before{
    width:1em;
    height:1em;
    content: '';
    display: block;
    color:#9c9c9c;
   margin-right:0.3em;

    background-image:url(../../build/css/list_icons/icon_record.png);
    background-size: 100% 100%;
}
#list-2:before{
    width:1em;
    height:1em;
    content: '';
    display: block;
    color:#9c9c9c;
   margin-right:0.3em;

    background-image:url(../../build/css/list_icons/icon_order.png);
    background-size: 100% 100%;
}
#list-3:before{
    width:1em;
    height:1em;
    content: '';
    display: block;
    color:#9c9c9c;
   margin-right:0.3em;

    background-image:url(../../build/css/list_icons/icon_money.png);
    background-size: 100% 100%;
}
#listview .lis {
      min-height: 2.8em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.hide {
    display: none !important;
}
.status {
    background-color: #f7f7f7;
    font-size: 0.9em;
    padding-left: 1em !important;
}
#list3 {
    padding:0.5em 0;
}
#slider1 {
    height: 3.6em;
}
#Oilcondition {
    height: 6.4em;
}
.lis-icon-s {
    margin-right:0.8em;
}
