.tab-foot {
    background: #ffffff;
}
.m-tabview {

}
.m-tabview .sc-text-tab {
    color: #333333;
}
.m-tabview .sc-text-active {
    color: #d7393a !important;
    border-bottom: 0.2em solid #d7393a;
}
.m-tabview .bc-head {
    display: none;
}
.m-tabview .tab_l {
    height: 2.5em;
}
.m-tabview  .tab_l .item {
    padding-top: 1em;
}
.c-row {
    font-size: 0.875em;
    padding: 1em 0.8em;
}
.col-left {
    width: 62%;
}
.col-right {
    width: 38%;
}

.title-bar {
    font-size: 0.8em;
    background: #f4f4f4;
    height: 2.5em;
    border-bottom: 1px solid #cccccc;
}
.col1 {
    width: 36%;
}
.col2 {
    width: 50%;
}
.col3 {
    width: 12%;
}
.col4 {
    width: 22%;
}

.t-col1 {
    width: 38%;
}
.t-col2 {
    width: 40%;
}
.t-col3 {
    width: 20%;
}
.t-col4 {
    width: 15%;
}
.content-info {
    font-size: 0.9em;
}
.list-content {
    font-size: 0.8em;
    /*opacity  : 0;*/
}

.m-row:last-child {
    border-bottom: none;
}

.m-act {
    color: #ffffff;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
}
.act-binary {
    background: #ffa03c;
}
.state-close {
    background: #aaaaaa;
}
.s-col1 {
    width: 7.5em;
}
.s2-col1 {
    width: 5em;
}
.order-search .uinput input:focus {
    outline: none !important;
}
.QRcode {
    width: 2.5em;
    height: 2.5em;
    margin-top: 1.2em;
    margin-right: 1em;
    background-image: url('myImg/qr_code.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5em 2.5em;
}
.site {
    border: 1px solid #cccccc;
    color: #999999;
    font-size: 0.8em;
    padding: 0.2em;
    border-radius: 0.2em;
}
.order-info {
    font-size: 0.9em;
    margin-left: 0.4em;
    padding-top: 0.4em;
    margin-bottom: 1em;
}

.m-state {
    padding: 0.2em;
    border-radius: 0.2em;
    border: 1px solid #ffa03c;
    color: #ffa03c;
}
.s-state {
    padding: 0.1em 0.4em;
    border-radius: 0.3em;
    border: 0.1em solid;
    border-color: #cccccc;
    color: #999999;
}
.delivery {
    /*
     border-color: #ffa03c;
     color:#ffa03c;
     */
}
.take {
    /*
     border-color: #82d02c;
     color:#82d02c;
     */
}
.listview .sc-bg {
    padding: 0.2em 0;
}
.m-row {
    height: 3.4em;
}
.c-txt {
    color: #218dd5;
}

.action-group .mp-btn2, .action-group .mp-btn {
    width: 37%;
}

input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    background-color: #ddd;
    border-radius: 0.6em;
    width: 100%;
    height: 0.6em;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: default;
    height: 2.5em;
    width: 1.5em;
    border-radius: 1em;
    background: linear-gradient(#ffb1b1, #ff6d6d);
    transform: translateY(-0.1em);
    -webkit-box-shadow: 0 -1px 1px #d84646 inset;
}

.pro-w1{
    
}
.pro-w2{
    width: 80%;
}
.b-btn{
    display: inline-block;
    text-align: center;
    border: 0.08em solid #ccc;
    width:1.2em;
    height: 1.2em;
    color: #999;
    border-radius: 0.3em;
    font-size: 1.2em;
}


.detailbox{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: left;
    -webkit-box-flex: 1;
}


/*列表内容宽度设置*/
.bw0{
    text-align:left;
    width: 8%;
}
.bw1{
    text-align:left;
    width: 47%;
}
.bw2{
    text-align:center;
    width: 12%;
}
.bw3{
    text-align:right;
    width: 33%;
}

.c-width{
    width: 20%;
}
.edit-bw2{
    width: 18%;
}

/*footer宽度设置*/
.uw-a{
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-orient:horizontal;
    width: 100%;
}


/***/

.area-price{
    width:50%;  
}
.detailbox{
    padding: 0.4em !important;
}
.oil-name{
    font-size: 0.9em !important;
}
.amount{
    font-size: 0.8em ;
}
.hide{
    visibility: hidden;
}

.d-nav{
    border-bottom: 0.1em solid #cccccc !important;
    background: red !important;
}

.d-line{
    border:0.175em dashed #e8e8e8;
}
.img-item{
    display:inline-block;
    width:4.2em;
    height:4.2em;
    margin-top: 1em;
    margin-right: 1em;  
}
.m-icon-add{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('myImg/m_icon_add.png');
    background-size: 3em 3em;
}
.m-row2{
    padding-left: 0 !important;
}

.b-width1{
    width: 21%;
}
.b-width2{
    width: 79%;
}

 .state{
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    color: #fff;
    font-style: normal;
 }
.state1{
    background: #ea5758;
 }
.state2{
    background: #ffb437;
 }
.state3{
    background: #82d02c;
 }



.pop-body{
    background: rgba(0,0,0,0.5) !important;
}
.pop-wrapper{
    padding: 10em 0em;
    margin: 0 auto;
    width: 80%;
}
.pop-content{
    background: #fff;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}
.pop-info{
    padding: 1em;
}
.pop-tip{
    padding-top: 1em;
}

//分页
div.digg{
    padding-right:3px;
    padding-left:3px;
    padding-bottom:3px;
    margin:3px;
    padding-top:3px;
    text-align:center
}
div.digg a{
    border-right:#aaaadd 1px solid;
    padding-right:5px;
    border-top:#aaaadd 1px solid;
    padding-left:5px;
    padding-bottom:2px;
    margin:2px;
    border-left:#aaaadd 1px solid;
    color:#000099;
    padding-top:2px;
    border-bottom:#aaaadd 1px solid;
    text-decoration:none
}
div.digg a:hover{
    border-right:#000099 1px solid;
    border-top:#000099 1px solid;
    border-left:#000099 1px solid;
    color:#000;
    border-bottom:#000099 1px solid
}
div.digg a:active{
    border-right:#000099 1px solid;
    border-top:#000099 1px solid;
    border-left:#000099 1px solid;
    color:#000;
    border-bottom:#000099 1px solid
}
div.digg span.current{
    border-right:#000099 1px solid;
    padding-right:5px;
    border-top:#000099 1px solid;
    padding-left:5px;
    font-weight:bold;
    padding-bottom:2px;
    margin:2px;
    border-left:#000099 1px solid;
    color:#fff;
    padding-top:2px;
    border-bottom:#000099 1px solid;
    background-color:#000099
}
div.digg span.disabled{
    border-right:#eee 1px solid;
    padding-right:5px;
    border-top:#eee 1px solid;
    padding-left:5px;
    padding-bottom:2px;
    margin:2px;
    border-left:#eee 1px solid;
    color:#ddd;
    padding-top:2px;
    border-bottom:#eee 1px solid
}
.bw0{
    text-align:left;
    width: 8%;
}
.m-check {
  height: 1.2em;
  width: 1.2em;
  border-radius: 1.2em;
  border: 0.1em solid #cccccc;
}

