.l-width{
    width: 5.5em;
}
.l-width2{
    width: 6em;
}
.fa-angle-right{
    color: #999999;
}
.title-bar{
    background: #f4f4f4;
    border-bottom: 1px solid #ccc;
}
.state{
    padding: 0.4em 1em;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    background: #f8f8f8;
    border: 1px solid #ccc;
}
.selected{
    background: #ffa03c;
    border-color: #ffa03c;
    color: #fff;
}
