.bg-red {
    background-color: #FC7979
}/*红色*/
.label-width{
    width: 7em;
}
.label-width2{
    width: 6.5em;
}
.input-size{
    font-size: 1em;
    width: 6em;
    height: 1.2em !important;
}
.no-border-input{
    font-size: 1em;
    width: 10em;
    height: 2em; 
    border: none !important;
}
.no-border-input:focus{
    outline: none;
}

.progress{
    display:block;
    width: 18em;
    height: 1.8em;
    background-size: 16em 1.6em;
    background-repeat: no-repeat;
    background-position: center;
}
.step1{
    background-image: url('myImg/progress_step1.png');
}
.step2{
    background-image: url('myImg/progress_step2.png');
}
.step3{
    background-image: url('myImg/progress_step3.png');
}
.w1{
    width:42%;
    text-align: center;
}
.w2{
    width:16%;
    text-align: center;
}
.w3{
    width:38%;
    text-align: center;
}
.complete{
    background-image: url('myImg/tag_complete.png');
    background-repeat: no-repeat;
    background-size: 4.5em 4.5em;
    background-position: 21em 4.5em;
}

.action-group .mp-btn2,.action-group .mp-btn{
    width: 37%;
}

.info-list{
    width: 100%;
    border: none;
}

.info-list  .lis{
    padding-left: 0 !important;
    border: none !important;
}


table.gridtable {

}
table.gridtable td, table.gridtable th{
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 0.9em;
}
table.gridtable th {
    line-height: 2.5em;
    background-color: #f8f8f8;
}
table.gridtable tr th:first-child,table.gridtable tr td:first-child{
    border-left: none;
}
table.gridtable tr:last-child td{
    border-bottom: none;
}
table.gridtable td {
    line-height: 4em;
    background-color: #ffffff;
}

.has_num{
    cursor: pointer;
}
.time-wrapper{
    margin: 0.8em 0;
}
.time{
    background-color: #cccccc;
    color: #fff;
    padding: 0.2em 0.6em;
    border-radius: 0.3em;
}
